@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url("https://i.pinimg.com/originals/00/e1/fe/00e1fe0791a3703b3480332e4973ee6e.jpg");
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    background: aquamarine;
    flex-direction: column;
    justify-self: center;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.inputcontainer{
    width: 50px;
    height: 250px;
    position: absolute;
    top: 30%;
    left: 40%;
    margin: -25px 0 0 -25px;
}

button{
    width: 200px;
    border-radius: 12px;
}

input{
width: 200px;
    border-radius: 12px;
    padding: 4px;
}

input:focus{
    outline:none;
}

input:focus::placeholder {
    color: transparent;

}

#countryContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 54%;
    left: 40%;
    margin: -25px 0 0 -25px;
    flex-wrap: nowrap;
}

img {
    width: 200px;
    height: 300px;
    object-fit: contain;
}
